.sectionTitleContainer {
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.clientSection {
    background-color: var(--color-secondary);
}
.clientContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    width: 90%;
    max-width: 1140px;
}
.clientImgContainer {
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}
.clientImgContainer img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.sectionTitle{
    margin-top: 30px;
    font-size: 2rem;
}

#gallery {
    width: 90%;
    max-width: 1140px;
    min-height: 100vh;
    margin: auto;
    position: relative;
}

.gallerySection h2{
    color: var(--color-text);
    margin-top: 10px;
}

#gallery div {
    overflow: hidden;
    position: absolute;
    cursor: crosshair;
}

#gallery img {
    object-fit: cover;
    width: 100%;
    transition: 0.5s ease-in-out;
    visibility: hidden;
}

#gallery img:hover {
    transform: scale(1.15);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    z-index: 12;
}
#galleryModal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    max-width: 80%;
    max-height: 80%;
}
.modalImageContainer {
    width: 100%;
    height: 100%;
}
#galleryModal .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
#galleryModal button {
    background: none;
    border: none;
    margin: 5px;
    cursor: pointer;
    width: 30px;
    height: 60px;
}
#prevImgButton {
    position: fixed;
    top: 50%;
}
#nextImgButton {
    position: fixed;
    top: 50%;
    right: 0;
}
#nextImgButton div {
    width: 3px;
    height: 16px;
    background-color: #fff;
    position: absolute;
}
#nextImgButton .topPart {
    top: 50%;
    right: 30%;
    transform: rotateZ(45deg);
}
#nextImgButton .downPart {
    top: 35%;
    right: 30%;
    transform: rotateZ(-45deg);
}
#prevImgButton div {
    width: 3px;
    height: 16px;
    background-color: #fff;
    position: absolute;
}
#prevImgButton .topPart {
    top: 50%;
    right: 30%;
    transform: rotateZ(-45deg);
}
#prevImgButton .downPart {
    top: 35%;
    right: 30%;
    transform: rotateZ(45deg);
}