.mainContainer {
    color: var(--color-text2);
}

.form-section {
    width: 90%;
    max-width: 1140px;
    margin: 40px auto;
}

.sectionTitle {
    font-size: 3rem;
    margin-bottom: 35px;
}

.contactContainer {
    margin: 20px auto;
}

.form {
    width: 60%;
}

.nameFormContainer {
    width: 100%;
    gap: 10px;
}

.nameFormContainer div {
    width: 50%;
}

.form input,
textarea {
    border: none;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    outline: 1px solid var(--color-tertiary);
    transition: 0.2s ease-in-out;
}

.form input:focus,textarea:focus {
    outline: 1px solid var(--color-quinary);
}

.formButton {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-secondary);
    color: var(--color-text);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto;
}

.formButton:hover {
    color: var(--color-quinary);
}

.contactInformationContainer {
    width: 30%;
}

.contactInformationContainer p {
    margin-bottom: 0;
    transition: 0.2s ease-in-out;
}
.contactInformationContainer p:hover {
    color: var(--color-quinary);
}

.contactInformationSeparation {
    height: 4px;
    width: 10%;
    background-color: var(--color-text2);
}

.google-map {
    width: 100%;
    height: 200px;
}

@media (672px < width < 897px) {
    .form {
        width: 50%;
    }
    .contactInformationContainer {
        width: 40%;
    }
}
@media (width < 673px) {
    .contactContainer {
        flex-direction: column;
    }
    .form {
        width: 100%;
    }
    .contactInformationContainer {
        width: 100%;
    }
    .google-map {
        height: 300px;
    }
}

/* CSS LINKEDIN SECTION */

.profileLinkedin-section {
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.profile-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 16rem;
    height: 20rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}
 
.profile .profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--background);
    transition: .5s;
}

.profile-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile:hover img {
    opacity: 0.4;
    transition: .5s;
}

.profile:hover .profile-image {
    transform: scale(1.1);
    filter: blur(3px);
    transition: all .9s;
}

.profile:hover .profile-bio {
    opacity: 0.9; 
}

.social-icons {
    position: absolute;
    display: flex;
    gap: 0.75rem;
    z-index: 3;
    bottom: 10.125rem;
}
  
.social-icons li {
    list-style: none;
}

.social-icons li a {
    position: relative;
    display: block;
    display: grid;
    place-items: center;
    background: #fff;
    font-size: 23px;
    font-weight: bold;
    width: 2.5rem;
    height: 2.5rem;
    /* border: 1px solid var(--color-secondary); */
    border-radius: 0.5rem;
    transition: .2s;
    transform: translateY(2rem);
    opacity: 0;
}

.social-icons li a:hover {
    background: var(--color-quinary);
    transition: .2s;
}

.social-icons li a svg {
    color: var(--color-text2);
    transition: .2s;
}

.social-icons li a:hover svg {
    color: var(--color-primary);
    transition: 0.8s;
    transform: rotateY(360deg);
}

.profile:hover .social-icons li a {
    opacity: 1; 
}

.profile-name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 7rem;
    padding: 0.75rem 0.875rem;
    z-index: 1;
    color: #333;
    background-color: #fff;
    text-align: left;
}

.profile:hover .profile-name {
    background-color: #fff;
}

.profile-name h2 {
    margin-bottom: 0.5rem;
}