:root {
    --color-primary: #E9F2F9;
    --color-secondary: #1B325F;
    --color-tertiary: #9CC4E4;
    --color-quaternary: #3A89C9;
    --color-quinary: #F26C4F;
    --color-text: #fff;
    --color-text2: #131313;

    /*     --color-primary: #1c2735;
    --color-secondary: #18202c;
    --color-tertiary: #ffffff1a;
    --color-text: #fff;
    --color-text2: #131313; */

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

.flexdirection-c {
    flex-direction: column;
}

.justify-sb {
    justify-content: space-between;
}

.justify-c {
    justify-content: center;
}

.align-c {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

#header {
    height: 100vh;
    min-height: 740px;
    background-attachment: fixed;
    background-image: url("../assets/portada.jpg");
    background-size: cover;
    color: var(--color-text);
}

.hamburgerMenu {
    display: none;
}

.navContainer {
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.navLinks {
    min-width: 45%;
    list-style: none;
    padding: 0;
}

.navLink {
    transition: 0.2s ease-in-out;
}

.navLink:hover {
    color: var(--color-quinary);
    cursor: pointer;
}

.active {
    color: var(--color-quinary);
}

.logo {
    width: 150px;
    cursor: pointer;
    z-index: 4;
}

.title {
    margin-bottom: 0;
    line-height: 0.7;
    font-size: 4rem;
}

.subTitle {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.portada {
    height: 100%;
    animation: fadeIn 2s ease-in-out;
}

@media (max-width:840px) {
    .navLinks {
        transform: translateY(-150%);
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-secondary);
        transition: 0.2s ease-in-out;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .navLinksShown {
        transform: translateY(50%);
    }

    .hamburgerMenu {
        display: block;
        background: none;
        border: none;
        z-index: 4;
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: var(--color-text);
        margin: 6px 0;
        transition: 0.2s ease-in-out;
    }

    .close-icon .line:nth-child(1) {
        transform: rotateZ(45deg) translate(7px, 7px);
    }

    .close-icon .line:nth-child(2) {
        opacity: 0;
    }

    .close-icon .line:nth-child(3) {
        transform: rotateZ(-45deg) translate(6px, -6px);
    }

    .title {
        font-size: 3rem;
    }

    .subTitle {
        font-size: 1.3rem;
    }

    .logo {
        width: 120px;
    }
}

@media(max-width:542px) {
    .title {
        text-align: center;
        font-size: 2.5rem;
        line-height: 0.8;
        margin-bottom: 10px;
    }

    .subTitle {
        font-size: 1.1rem;
    }
}

.servicios-table {
    width: 90%;
    max-width: 1140px;
    margin: auto;
    text-align: justify;
    padding-top: 40px;
    padding-bottom: 40px;
}
.servicios-card {
    width: 33.3%;
    height: 500px;
    border: 1px solid var(--color-tertiary);
    background-color: var(--color-secondary);
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "title"
        "content"
        "button"
    ;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.servicioContainer {
    grid-area: content;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 2fr;
    grid-template-areas:
        "subtitle"
        "separation"
        "description"
    ;
    position: relative;
    overflow: hidden;
    line-height: 1.6rem;
}

.servicios-card:first-of-type {
    border-radius: 45px 0 0 45px;
}

.servicios-card:last-of-type {
    border-radius: 0 45px 45px 0;
}
.table-titleContainer {
    grid-area: title;
    height: 100%;
    border-bottom: 1px solid var(--color-tertiary);
    z-index: 4;
}

.table-subtitle {
    grid-area: subtitle;
    font-size: 1.05rem;
    vertical-align: baseline;
    padding-top: 30px;
    font-weight: 400;
    font-style: italic;
}

.tableSeparation {
    grid-area: separation;
    height: 3px;
    width: 33.3%;
    justify-self: center;
    align-self: center;
    background-color: var(--color-tertiary);
}

.table-content {
    grid-area: description;
    vertical-align: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-buttonContainer {
    grid-area: button;
    background-color: inherit;
    z-index: 4;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color-tertiary);
    border-bottom: 1px solid var(--color-tertiary);
}

.table-button {
    background: none;
    border: none;
    color: var(--color-text);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.table-button:hover {
    color: var(--color-quinary);
}

.table-arrow {
    transition: transform 0.2s ease-in-out;
}

.table-arrow-up {
    display: inline-block;
    transform: rotateZ(-180deg);
}

.table-arrow-down {
    display: inline-block;
    transform: rotateZ(-360deg);
}

.table-hiddenContent {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    z-index: 3;
    transition: 0.2s ease-in-out;
    background-color: var(--color-secondary);
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
    overflow-y: scroll;
}

.table-hiddenContent::-webkit-scrollbar {
    width: 6px;
}

.table-hiddenContent::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
    border-radius: 6px;
}

.table-hiddenContent::-webkit-scrollbar-track {
    background-color: var(--color-primary);
    border-radius: 6px;
}

.table-shownContent {
    transform: translateY(-100%);
}

@media (min-width:833px) and (max-width:940px) {
    .servicios-card {
        min-width: 200px;
    }

    .servicios-card:nth-of-type(2) {
        border-radius: 0 45px 45px 0;
    }

    .servicios-card:nth-of-type(3) {
        border-radius: 45px;
    }

    .servicios-table {
        row-gap: 150px;
        flex-wrap: wrap;
        margin-bottom: 150px;
    }
}

@media (min-width:0) and (max-width:832px) {
    .servicios-card {
        width: 90%;
        max-width: 400px;
    }

    .servicios-card:nth-of-type(n) {
        border-radius: 45px;
    }

    .servicios-table {
        flex-wrap: wrap;
        row-gap: 30px;
        margin-bottom: 50px;
    }
}

.changeColorSection {
    background: var(--color-primary);
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 11%);
    padding-top: 80px;
    padding-bottom: 40px;
}

.articulos {
    width: 90%;
    max-width: 1140px;
    margin: auto;
    gap: 20px;
}

.articulos-item {
    background-color: var(--color-primary);
    border-radius: 2rem;
    color: var(--color-text2);
    border: 1px solid var(--color-tertiary);
    overflow: hidden;
    transition: 0.1s ease-in-out;
}

.articulos-item img {
    width: 26.3%;
}

.articulos-item:hover {
    transform: scale(1.02);
}

.articulos-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.articulo-data {
    margin: auto 40px
}

.articulo-title {
    font-size: 1.8rem;
}

.articulo-subTitle {
    font-size: 1.4;
}

.articulo-description {
    text-align: justify;
}

@media (min-width:0) and (max-width:665px) {
    .articulos {
        margin: auto 4%;
    }

    .articulos-item:nth-child(2n) {
        flex-direction: column;
    }

    .articulos-item {
        padding-top: 4%;
        flex-direction: column;
    }

    .articulos-item img {
        width: 75%;
        margin: 4% auto;
        border-radius: 25%;
        max-width: 300px;
    }
}

#footer {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    color: var(--color-text2);
}

.bg-blue-red {
    background: var(--color-secondary);
    background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-quinary) 11%);
}

.bg-white-red {
    background: rgb(233, 242, 249);
    background: linear-gradient(180deg, rgba(233, 242, 249, 1) 0%, rgba(242, 108, 79, 1) 11%);
}

.footerContainer {
    width: 90%;
    max-width: 1140px;
    height: 100%;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-information-imgs {
    letter-spacing: 16px;
    margin-bottom: 10px;
}

#footer span {
    border-bottom: 1px solid var(--color-text);
    transition: 0.2s ease-in-out;
}

.footerContainer div h4,
p {
    margin-bottom: 10px;
}

.table-schedules {
    border-collapse: collapse;
    text-align: left;
}

.table-schedules td,
th {
    padding: 5px;
    border-left: 1px solid var(--color-text2);
}

#wt-logo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.tinyLogo {
    width: 32px;
}

#wt-logo img {
    width: 48px;
}

.footerNavLinks {
    list-style: none;
}

#toTheTop {
    transition: 0.2s ease-in-out;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    cursor: pointer;
    border-radius: 20px;
}

.toTheTop-line {
    transition: 0.2s ease-in-out;
    margin: auto;
    background-color: var(--color-text);
    border-radius: 50px;
}

#toTheTop:hover .toTheTop-line {
    background-color: var(--color-quinary);
}

.toTheTop-line1 {
    width: 3px;
    height: 12px;
    transform: rotateZ(45deg) translate(5px, 10px);
}

.toTheTop-line2 {
    width: 3px;
    height: 20px;
}

.toTheTop-line3 {
    width: 3px;
    height: 12px;
    transform: rotateZ(-45deg) translate(18px, -13px);
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
}

.fadeIn {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
    }
}